footer{
  background: linear-gradient(to right ,var(--color-primary),transparent );
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a{
  color: var(--bg-color);
}
.footer__logo{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.permalinks li a{
  color: #ccc;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.footer__socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer__socials a{
  background: var(--bg-color);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: .7rem;
  display: flex;
  font-size: 1.4rem;
  border: 1px solid transparent;
}
.footer__socials a:hover{
  background: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.footer__copyrights{
  margin-top: 5rem;
}
.footer__copyrights small{
  color: #ccc;
  font-size: 1.2rem ;
}
/* ============= Media querry (Small)==============*/
@media screen and (max-width: 600px) {

  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials{
    margin-bottom: 2.6rem;
  }
}